:root{
  font-size: 52.5%;
  --ff-principal: "Karla", sans-serif;
  --ff-secondary: "Roboto", sans-serif;
}

body{
  font-size: 1.6rem;
}

.locationsEps-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  margin-top: 2rem;
}

.locations-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.locations-header .btn-go-back{
  display: flex;
  align-items: center;
  gap: .8rem;
}

.locations-header .btn-go-back p{
  font-family: var(--ff-principal);
  font-size: 1.8rem;
  font-weight: bold;
}

.locations-header .btn-go-back span{
  font-size: 1.8rem;

  cursor: pointer;
}

.locations-header .locationEpisode-name{
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations-header .locationEpisode-name h2{
  font-family: var(--ff-secondary);
  font-size: 3rem;
  font-weight: 400;
  color: #081F32;
}

.info-locationEpisode{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-locationEpisode .locationEpisode-type,
.info-locationEpisode .locationEpisode-dimension{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .6rem;
}

.info-locationEpisode .locationEpisode-type h3,
.info-locationEpisode .locationEpisode-dimension h3{
  font-family: var(--ff-secondary);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.4rem;
  letter-spacing: .1rem;
  color: #081F32;
}

.info-locationEpisode .locationEpisode-type span,
.info-locationEpisode .locationEpisode-dimension span{
  font-family: var(--ff-secondary);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: .2rem;
  color: #6E798C;
}

.residentsCast-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;

  width: 100%;

  margin-top: 12rem;
}

.residentsCast-wrapper h2{
  font-family: var(--ff-secondary);
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: .1rem;
  color: #8E8E93;
}

.residentsCast-wrapper .residentsCast-content{
  width: 100%;
  height: 100%;

  display: grid;
  /* place-items: center; */
  gap: 2.4rem;
}

.residentsCast-content .card-personagem{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  width: 100%;
  height: 30.8rem;

  border-radius: .4rem;

  box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.226);

  overflow: hidden;
}

.card-personagem:hover .personagem-img img{
  transform: scale(1.1);
}

.card-personagem .personagem-img{
  width: 100%;
  height: 23.2rem;

  overflow: hidden;

  cursor: pointer;
}

.card-personagem .personagem-img img{
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: all .3s ease-in-out;
}

@media (min-width: 700px){
  .locations-header{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10rem;
  }

  .residentsCast-wrapper{
    margin-top: 6.4rem;
  }

  .residentsCast-wrapper .residentsCast-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .info-locationEpisode{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 22.4rem;
  }
}

@media (min-width: 1100px){
  .locationsEps-container{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .locations-header{
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    gap: 27rem;
  }
}